.conversation_container {
  min-height: 100vh;
  width: 100%;
  max-width:6rem;
  background: saddlebrown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.btn_Add {
  border-radius: 99rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: .5rem 0;
}